<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Customers</li>
  </ol>
</nav>
<div class="container">
  <div class="card list-car">
    <h5 class="card-header">Customers list</h5>
    <div class="card-body">
      <figure>
        <figcaption>All Customers</figcaption>
      <table class="table">
        <thead>
          <tr>
            <th hidden scope="col">Code</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">E-mail</th>
            <th scope="col">Phone</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers">
            <td hidden>{{customer.id}}</td>
            <td>{{customer.firstName}}</td>
            <td>{{customer.lastName}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.phone}}</td>
            <td>
              <button type="button" class="btn btn-warning btn-sm" (click)="editCustomer(customer)">Edit </button>
              <button type="button" class="btn btn-danger btn-sm ml-1"
                (click)="deleteCustomer(customer)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      </figure>
    </div>
  </div>

  <div class="card add-car">
    <h5 class="card-header">Add / Update Customer</h5>
    <div class="card-body">
      <form id="add-form" (ngSubmit)="f.form.valid && saveCustomer(f)" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" [(ngModel)]="customer.firstName" id="firstName" name="firstName" #model="ngModel" required
            class="form-control" [ngClass]="{ 'is-invalid': f.submitted && model.invalid }"
            placeholder="Insert first name">
          <div *ngIf="f.submitted && model.invalid" class="invalid-feedback">
            <div *ngIf="model.errors?.required">First name is required é obrigatório</div>
          </div>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" [(ngModel)]="customer.lastName" id="lastName" name="lastName" #model="ngModel" required
            class="form-control" [ngClass]="{ 'is-invalid': f.submitted && model.invalid }"
            placeholder="Insert last name">
          <div *ngIf="f.submitted && model.invalid" class="invalid-feedback">
            <div *ngIf="model.errors?.required">Last name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" [(ngModel)]="customer.email" id="email" name="email" #model="ngModel" required
            class="form-control" [ngClass]="{ 'is-invalid': f.submitted && model.invalid }"
            placeholder="Insert e-mail">
          <div *ngIf="f.submitted && model.invalid" class="invalid-feedback">
            <div *ngIf="model.errors?.required">E-mail is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="text" [(ngModel)]="customer.phone" id="phone" name="phone" #model="ngModel" required
            class="form-control" [ngClass]="{ 'is-invalid': f.submitted && model.invalid }"
            placeholder="Insert phone number">
          <div *ngIf="f.submitted && model.invalid" class="invalid-feedback">
            <div *ngIf="model.errors?.required">Phone number is required</div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-add-car">Save</button>
        <button type="reset" class="btn btn-secondary btn-add-car" (click)="cleanForm(f)">Cancel</button>
      </form>
    </div>
  </div>
</div>